body {
    color: black;
    background: chartreuse;
    margin: 0px;
    font-family: "Lexend", sans-serif;
    margin-bottom: 50px;

}

header{
    border-bottom: solid 5px rgb(0, 0, 0);
    padding: 5px;
    font-size: 50px;
    color: white;
}

section{
    background: rgb(70, 149, 252);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


.chamada-texto {
    margin-right: 5%;

}

h1{
    font-size: 40px;

}

p{
    font-size: 20px;

}
img{
    height: 121px;
}

.categoria-videos{
    display:flex;
    overflow-x: auto;
    gap: 20px;

}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;

}

.categoria-videos img:hover {
    opacity: 1.00; 
    border: 1px solid green;

}

.categoria h2 {
    color: white;

}